* {
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.clearfix {
    overflow: auto;
}

.education-entry,
.work-entry {
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-size: 40px;
    color: #9aa229;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    line-height: 29px;
    padding: 10px;
    margin-top: 7px;
    background-color: #070707;
}

h3 {
    /*font-style: italic;*/
    font-size: 20px;
    color: #000000;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.row {
    width: 100%;
}

.col-s {
    width: 20%;
}

.date-text,
.location-text {
    font-style: italic;
    font-size: 15px;
    color: #666565;
    line-height: 16px;
}

.date-text {
    float: left;
}

.location-text {
    float: right;
}

p {
    font-size: 14px;
    color: #333333;
    line-height: 21px;
}

a {
    color: #9aa229;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    font-size: large;
    font-weight: 600;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #F3F3F3;
    line-height: 40px;
}

#skillsH3 {
    color: #9aa229;
    display: none;
}

.orange {
    background-color: #9aa229;
}

.orange-text {
    color: #9aa229;
}

.white-text {
    font-weight: bold;
    color: #FFFFFF;
}

.gray {
    background-color: #F3F3F3;
    padding-top: 15px;
    /*  padding-left: 5%;
  padding-right: 5%;*/
    clear: both;
}

.dark-gray {
    background-color: #030303;
}






/* TODO: Replace with image later */

#header {
    /*background-color: #484848;*/
    background: url(../images/banners.JPG) no-repeat center;
    background-size: cover;
    display: block;
}

span.sec_role {
    color: #fff;
    font-size: large;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.center-content {
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%
}

ul {
    list-style-type: none;
}

ul.sec_contacts {
    background-color: #000;
    opacity: 0.8;
    margin: 5px 0 20px 0;
}

.biopic {
    float: left;
    padding: 10px 20px 10px 0;
    max-width: 200px;
    display: none;
}

img {
    padding: 10px;
}






/* Bar chart stuff */

.chart div {
    font: 10px sans-serif;
    background-color: #4A4A4A;
    text-align: right;
    padding: 3px;
    margin: 1px;
    height: 12px;
    color: white;
    display: inline-block;
}

.project-entry {
    display: inline-block;
    padding-left: 5%;
    vertical-align: top;
}

a.detail_url {
    font-size: 14px;
    font-weight: normal;
}

.project-entry img {
    max-width: 250px;
    padding: 5px 0;
}

span {
    padding: 5px;
}

.education-entry {
    padding-top: 20px;
}

.education-entry h3 {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #a1a1a1;
    margin-top: 5px;
}

.education-entry a,
.education-entry h3 {
    clear: both;
}

#letsConnect {
    text-align: center;
}

.no_border {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

.format {
    padding: 10px;
    text-align: center;
}

.format button {
    padding: 5px;
    font-size: large;
}

@media only screen and (max-width: 1024px) {
    #letsConnect {
        margin-top: 5%;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
    .sec_contacts li {
        display: inline-block;
        width: 50%;
    }
}

@media only screen and (max-width: 575px) {
    .col-s {
        width: 90%;
        padding-left: 0;
        display: block;
        margin: 0 5%;
        border-top: 1px solid #a1a1a1;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .connect {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: #fff;
        border-bottom: 1px solid #fff;
    }
    .project-entry img {
        display: none;
    }
    .sec_contacts li {
        display: block;
        width: 100%;
    }
    #skills li.flex-item {
        display: inline-block;
        margin-right: 5px;
    }
    .sec_contacts .orange-text,
    .sec_contacts .white-text,
    #skills .white-text {
        font-size: 15px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 750px) {
    #letsConnect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    h4.connect {
        display: none;
    }
}

@media only screen (min-width: 576px) and (max-width: 1024px) {
    .col-s {
        width: 44.5%;
        border-top: 1px solid #a1a1a1;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 750px) {
    #skillsH3,
    .biopic {
        display: block;
    }
}

.flex-box a {
    display: inline;
}

.flex-box a:hover {
    color: #9aa229;
}
